{% extends 'Base/Base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Styles/HomepageLoginSignUp/HomepageLoginSignUp.css')}}">
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="title-container">
            <h1 class="main-title">Mode démo</h1>
            <h2>Essayez le jeu sans créer de compte</h2>
        </div>
    </section>
    <section class="level-list">
        <h1>Chapitres disponibles</h1>
        <div class="level-container">
            {% for level in levels %}
                {% if level.getDifficulties()|length > 0 %}
                    <div class="description">
                        <h1 class="description-title">{{ level.getDisplayName() }}</h1>
                        <button class="home-button" onclick="goToPath('/demo/{{ level.getLevelName() }}/{{ level.getDifficulties()[0].getDifficultyName() }}')">
                            Jouer
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
