{% extends "Base/Base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Styles/Base/Form.css')}}">
{% endblock%}

{% block body %}
    <div class="form">
        <form action="" method="POST">
            <label for="oldPassword">Ancien mot de passe : </label>
            <input type="text" id="oldPassword" minlength="8" maxlength="20" required>

            <h2 style="color: red;">{{ passwordError }}</h2>

            <label for="newPassword">Nouveau mot de passe : </label>
            <input type="text" id="newPassword" minlength="8" maxlength="20" required>

            <label for="oldPassword">Confirmer le nouveau mot de passe : </label>
            <input type="text" id="newPassword" minlength="8" maxlength="20" required>

            <button type="submit" class="btn">Envoyer</button>
        </form>
    </div>
{% endblock %}