<div class="{{ data[i]['alreadyInLevel'] }}">
    <div>{{ data[i]['levelDisplayName'] }}</div>
    <div><button class="teacherTableAddLevelButtonSelect" onclick="addLevel({{ data[i]['levelId'] }})">selectionner</button></div>
</div>