<div class="teacherRoomLevelRow" data-level-id="{{ data[i]['levelId'] }}">
    <div>
        <button class="teacherTableLevelButtonUp">&#8593;</button>
        <button class="teacherTableLevelButtonDown">&#8595;</button>
    </div>
    <div>{{  data[i]['levelName'] }}</div>
    <div>{{  data[i]['levelErrorRate'] }}</div>
    <div>{{  data[i]['levelCompletion'] }}%</div>
    <div><button class="teacherTableLevelButtonDeleteRow">supprimer</button></div>
</div>